@model IEnumerable<dotnet_mvc_crud.Models.StudentModel>;
@{
    ViewData["Title"] = "คะแนนสอบวิชาคอมพิวเตอร์";
}

<div>
    <h1 class="text-center">@ViewData["Title"]</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>รหัสนักเรียน</th>
                <th>ชื่อ</th>
                <th>คะแนนสอบ</th>
                <th>สถานะ</th>
                <th>ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>@data.Score</td>
                        <td>
                            @if (@data.Score >= 50)
                            {
                                <strong class="text-success">สอบผ่าน</strong>
                            }
                            else
                            {
                                <strong class="text-danger">สอบไม่ผ่าน</strong>
                            }
                        </td>
                        <td>
                            <a asp-controller="Student" asp-action="Update" asp-route-id="@data.Id" type="button"
                                class="btn btn-sm btn-warning">แก้ไข</a>
                            <a asp-controller="Student" asp-action="Delete" asp-route-id="@data.Id"
                                onclick="return confirm('คุณต้องการลบ @data.Name ใช่หรือไม่ ?')" type="button"
                                class="btn btn-sm btn-danger">ลบ</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">ไม่มีข้อมูลในระบบ</td>
                </tr>
            }
        </tbody>
    </table>
</div>