@model StudentModel;
@{
    ViewData["Title"] = "แก้ไขคะแนนสอบนักเรียน";
}

<div>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form asp-controller="Student" asp-action="Update" method="POST">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score"></label>
            <input asp-for="Score" type="number" class="form-control" />
            <span asp-validation-for="Score" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary my-2">แก้ไข</button>
    </form>
</div>